* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lora", serif;
}
html, body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo_img {
    width: 60px;
}

.nav-link {
    color: orangered;
    font-weight: bold;
}

.nav-link:hover,
.dropdown .nav-link.show {
    color: orange;
}

.dropdown-toggle{
    color: orangered;
}

.w-85 {
    width: 85%;
}

video {
    width: 100%;
}

.contenido {
    bottom: 20%;
    max-width: 400px;
}

.minititulo {
    font-size: 15px;
    margin-bottom: 5px;
}

.maxititulo {
    font-size: 44px;
}

.banner {
    height: 700px;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.mostrar-mobile {
    display: none;
}

.ocultar-mobile {
    display: block;
}

.card {
    border: none;
    border-radius: 0;
    height: 100%;
}

.card-title{
    color: #000;
    font-weight: bold;
}
.card-text {
    color: #000;
    font-weight: bold;
}

.card-img {
    border-radius: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: right;
}

.card-img-overlay {
    align-content: center;
}

.fondo-azul::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(111, 106, 255, 0.5);
}

.fondo-verde::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(170, 243, 130, 0.5);
}

.fondo-blanco::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(134, 133, 132, 0.5);
}

.btn-dark {
    background-color: #000;
    margin-left: 20px;  
    font-weight: 700;
    color: #fff;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: content;
}

.btn-dark:hover {
    background-color:#121212;
    color: #fff;
    transform: scale(1.1);
}

@media (max-width: 990px) {
    .ocultar-mobile {
        display: none;
    }

    .mostrar-mobile {
        display: block;
    }

    .text-black-mobile {
        color: #000 !important;
    }
    .navbar-nav {
        background: #fff;
    }
    .nav-link {
        color: #000;
        padding: 10px 15px;
        font-size: 18px;
    }
    .recurso {
        display: block;
    }
}

.wavy {
    height: 150px; 
    overflow: hidden;
    margin-top: -70px;
}

.reconocimiento-dos {
    background-color: #000;
}

.elegante {
    background-color: #f1b128; 
}

.btn-elegante {
    background-color: #000;
    margin-left: 20px;  
    font-weight: 700;
    color: #fff;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: content;
}

.btn-elegante:hover {
    background-color:#121212;
    color: #fff;
    transform: scale(1.1);
}

.svg-elegant {
    margin-top: -50px;
}

.profesional {
    margin-top: -150px;
}

.btn-profesional {
    background-color: #f1b128;
}

.recurso {
    background-color: rgb(199, 201, 202);
}

.svg-recurso {
    margin-top: -150px;
}
.img-recurso {
    width:50%;
    margin-left: 200px;
}

.recurso-text {
    width: 40%;
    border: 1px black solid;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: -90px;
}

/*footer*/

footer {
    padding-top: 50px;
}

.ubicacion {
    color: #000;
}

iframe {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-fin {
    background-color:rgb(199, 201, 202);
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.btn {
    background-color: #f1b128;
    margin-left: 20px;  
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color:#f2b90d;
    color:black;
    transform: scale(1.1);
}

/*boton formulario*/

.formulario {
	background-color: rgba(134, 133, 132, 0.5);
    width: min( 60rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}


.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #f1b128;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 50px;
	cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
    background-color:#f2b90d;
    color:black;
    transform: scale(1.1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

strong {
    padding: 10px;
}
.redes {
    width: 50px;
    padding: 5px;
}

.redes-s{
    display: flex;
    list-style: none;
    justify-content: column;
    margin-left: -30px;
 }

 /* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
 /*SERVICIOS*/

 .logo-servicios {
    width: 60px;
}

.nav-links {
    color: orangered;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.nav-links:hover,
.dropdown .nav-links.show {
    color: orange;
}

.dropdown-toggles{
    color: orangered;
    padding: 10px;
}

.navbar-expand{
    width: 85%;
}

.input-text {
    height: 20rem;
    padding: 10px;
}

.campo textarea {
    height: 20rem;
}

.campo label {
    color: #0075FF;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo {
    margin-bottom: 1rem ;
    color: #ffff;
    padding: 1.5rem;
}

.campo-mensaje {
    padding-top: 20px;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-top: 10px;
}
